<!DOCTYPE html>
<html>

<head>
  <title>Results for </title>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <%- include('../header.ejs') %>
  <!-- <header>
    <h1>Best Books!</h1>
  </header> -->
  <main>
    <section>
      <h2 class="search-title">Search Results</h2>

      <section>
        <p><%= searchResults[0] %></p>
        <% for(let i=0; i < searchResults.length; i++) { %>
          <%- include('../detail.ejs', {bookDetail: searchResults[i]}) %>

        <!-- <div class="disp-container">
          <div class="img-container">
            <img src='<%=searchResults[i].image%>'>
          </div>
          <h3><%=searchResults[i].title%></h3>
          <h4><%=searchResults[i].author%></h4>
          <p><%=searchResults[i].description%></p>
        </div> -->
        <% } %>
      </section>

      <!-- Lookup -->
      <h3>

      </h3>
    </section>
  </main>
</body>

</html>