

<section>
  
  <div class="disp-container">
    <div class="img-container">
      <img src='<%=bookDetail.image_url%>'>
    </div>
    <h3><%=bookDetail.title%></h3>
    <h4><%=bookDetail.author%></h4>
    <p><%=bookDetail.description%></p>
    <p><%=bookDetail.isbn%></p>
    <p>Book Shelf Place Holder</p>
  </div>

</section>