<!DOCTYPE html>
<html>

<head>
  <title>Update Book</title>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <%- include('header.ejs') %>
  <main>
    <form class="update-form" action="/books/update/?_method=PUT" method="POST">
      <p>Title</p>
      <input type="text" name="ti<label for=""></label>
      <p>Author</p>
      <input type="text" name="author" value="<%= bookData.author %>">
      <p>ISBN</p>
      <input type="text" name="isbn" value="<%= bookData.isbn %>">
      <p>Book Image URL</p>
      <input type="text" name="image_url" value="<%= bookData.image_url %>">
      <input type="hidden" name="id" value="<%=bookData.id%>">
      <p>Description</p>
      <textarea type="text" name="description" value="<%= bookData.description %>"><%= bookData.description %>
        </textarea>
      <button type="submit">Update Book</button>
    </form>
  </main>
</body>

</html>